@media screen and (max-width: 1225px){
    .slider-text{
        top: 30%;
    }
    .slider-text h2{
        font-size: 70px;
        line-height: 85px;
    }
    .slider-text p {
        width: 551px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1140px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 62px;
        line-height: 70px;
    }
    .slider-text p {
        width: 551px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1024px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 56px;
        line-height: 70px;
    }
    .slider-text p {
        width: 551px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 935px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .slider-text p {
        width: 482px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 855px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 45px;
        line-height: 40px;
    }
    .slider-text p {
        width: 365px;
        font-size: 14px;
        line-height: 15px;
    }
    .carousel-caption {
        bottom: 2%;
    }
}

@media screen and (max-width: 787px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 40px;
        line-height: 35px;
    }
    .slider-text p {
        width: 287px;
        font-size: 11px;
        line-height: 11px;
    }
    .carousel-caption {
        bottom: 2%;
    }
}

@media screen and (max-width: 768px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 40px;
        line-height: 35px;
    }
    .slider-text p {
        width: 287px;
        font-size: 11px;
        line-height: 11px;
    }
    .carousel-caption {
        bottom: 2%;
    }
    .carousel-caption h3{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 16px;
    }
    .btn{
        padding: 7px 14px;
    }
}

@media screen and (max-width: 677px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 35px;
        line-height: 15px;
    }
    .slider-text p {
        width: 287px;
        font-size: 11px;
        line-height: 11px;
    }
    .carousel-caption{
        bottom: 2%;
    }
    .carousel-caption h3{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .btn{
        padding: 7px 14px;
    }
}

@media screen and (max-width: 625px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 30px;
        line-height: 15px;
    }
    .slider-text p {
        width: 287px;
        font-size: 11px;
        line-height: 11px;
    }
    .carousel-caption{
        bottom: 2%;
    }
    .carousel-caption h3{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .btn{
        padding: 7px 14px;
    }
}

@media screen and (max-width: 576px){
    .btn{
        padding: 2px 10px;
    }
}

@media screen and (max-width: 500px){
    .btn{
        padding: 3px 7px;
    }
}

@media screen and (max-width: 480px){
    .slider-text{
        top: 25%;
    }
    .slider-text h2 {
        font-size: 28px;
        line-height: 8px;
    }
    .slider-text p {
        width: 261px;
        font-size: 10px;
        line-height: 10px;
    }
    .carousel-caption{
        bottom: 2%;
    }
    .carousel-caption h3{
        font-size: 12px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .btn{
        padding: 1px 3px;
    }
}

@media screen and (max-width: 767px){
    .btn{
        padding: 3px 7px;
    }
}